body{
    color: white;
    background-color: rgb(28, 28, 26);
}
/*tamannho geral */
/*.container{
    max-width: 1170px;
    margin: 0 auto;
} centraliza os elementos no geral*/
header{
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
}
header h3{
    background-color: lightgray;
    color: #000000;

}
nav{background-color: black;}
nav div{
    display: inline-block;
    background-color: #EB503D;
    border: 2px solid;
    border-radius: 17px;

}
li{
    display: inline-block;
}

.orange_block:hover{
    background-color: #000000;
    color: #EB503D;
    transition: 0.3s all;
    border: 2px solid;
    border-radius: 17px;
}

    
aside{
    display: flex;
    margin: 33%;
    justify-content: space-around;
}

.tamanho_svg{
    width: 20px;
    height: 20px;
}
